.cookie {
  height: 7vh;
}
.toggler {
  border: 1px solid black;
}
.hamburger {
  color: black;
  font-size: 2.5rem;
}
.hamburger:active, .hamburger:hover, .hamburger:focus {
  color: white !important;
}
body {
  font-family: 'Hepta Slab', serif;
}
.navHeight {
  height : 10vh;
}
.navColor {
  background-color: #fbb8bc;
}
.logoHeight {
  height: 8vh;
}
.navText {
  font-family: 'Hepta Slab', serif;
  font-size: 2rem;
}
.navText:hover {
  color: white !important;
}
.logout {
  font-size: 2.5rem;
}
.logout:hover {
  color: #212529;
  background-color: #fff;
}
.titleContainer {
  width: 350px;
}
.titleText {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-weight: 900;
  font-size: 4rem;
}
.titleLink {
  color: white !important;
  text-decoration: none !important;
}
.width93 {
  width: 93%;
}
.bodyBanner {
  background-color: #ec91d8;
  height: 90vh;
}
.contentBox {
  background-color: #ffaaea;
  max-width: 1200px;
}
.tableHeight {
  height: 85vh !important;
  overflow-y: scroll !important;
}
.welcomeText {
  font-family: 'Hepta Slab', serif;
  font-size: 2rem;
}
.searchBoxHeight {
  height: 5em;
  background-color: #98D2EB;
}
.searchBox {
  width: 70%;
  height: 5rem;
}
.addLabel {
  width: 30%;
  background-color: #212529;
  color: #fff;
  border-color: #212529;
  height: 5rem;
}
.addLabel:hover {
  color: black !important;
  background-color:white !important;
}
.ingredientsArea {
  background-color: #fbb8bc;
}
.ingredientsColumn {
  width: 65%;
  font-size: 2rem;
}
.interFaceWidth {
  width: 80%;
}
.editColumn {
  width: 10%;
}
.deleteColumn {
  width: 10%;
}
.editButton {
  font-size: 2.5rem;
}
.editButton:hover {
  color: #212529;
  background-color: #fff;
}
.deleteButton {
  font-size: 2.5rem;
}
.deleteButton:hover {
  color: #212529;
  background-color: #fff;
}
.dismissWidth, .saveWidth {
  width: 48% !important;
}
.treeNutNameWidth {
  width: 20%;
}
.treeNutInputSize {
  font-size: 2rem !important;
  height: 3rem !important;
}

@media (max-width: 1200px) {
  .titleContainer {
    display: none !important;
  }
}
@media (max-width: 990px) {
  .hideHeader {
    display: none;
  }
  .editColumn {
    display: none;
  }
  .deleteColumn {
    display: none;
  }
  .interfaceWidth {
    width: 90%;
  }
  .addLabel {
    font-size: .75rem;
  }
  .mobileNavBackground {
    background-color: #ec91d8;
  }
  .treeNutNameWidth {
    width: 40%;
    min-width: 200px;
  }
  .mobileNavAdjust {
    padding-left: 2rem !important;
  }
  .logoutbtn {
    padding-bottom: 1rem;
  }
}
@media (max-width: 400px) {
  .addLabel {
    font-size: .6rem;
  }
}
@media (max-width: 500px) {
  .ingredientsColumn {
    font-size: 1.5rem;
  }
  .allergensColumn {
    font-size: .75rem;
  }
}
