.cookie {
  height: 7vh;
}
.minusIcon {

}
.toggler {
  border: 1px solid black;
}
.hamburger {
  color: black;
  font-size: 2.5rem;
}
.hamburger:active, .hamburger:focus {
  color: white !important;
}
body {
  font-family: 'Hepta Slab', serif;
}
.navHeight {
  height : 10vh;
}
.navColor {
  background-color: #fbb8bc;
}
.logoHeight {
  height: 8vh;
}
.navText {
  font-family: 'Hepta Slab', serif;
  font-size: 2rem;
}
.navText:hover {
  color: white !important;
}
.logout {
  font-size: 2.5rem;
}
.logout:hover {
  color: #212529;
  background-color: #fff;
}
.titleContainer {
  width: 20vw;
  min-width: 350px;
}
.titleText {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-weight: 900;
  font-size: 4rem;
}
.titleLink {
  color: white !important;
  text-decoration: none !important;
}
.bodyBanner {
  background-color: #ec91d8;
  height: 90vh;
}
.contentBox {
  background-color: #ffaaea;
  max-width: 1200px;
}
.modalBodyHeight {
  height: 70vh;
}
.editModalSize {
  height: 90vh;
}
.titlesBoxWidth {
  width: 95%;
}
.tableHeight {
  height: 85vh !important;
  overflow-y: scroll !important;
}
.ingredientsList {
  height: 75vh !important;
  overflow-y: scroll !important;
}
.welcomeText {
  font-family: 'Hepta Slab', serif;
  font-size: 2rem;
}
.searchBoxHeight {
  height: 5em;
  background-color: #98D2EB;
}
.searchBox {
  width: 70%;
  height: 5rem;
}
.addLabel {
  width: 30%;
  background-color: #212529;
  color: #fff;
  border-color: #212529;
  height: 5rem;
}
.addLabel:hover {
  color: black !important;
  background-color:white !important;
}
.titleInput {
  font-size: 1.5rem !important;
}
.modalScroll {
  width: 45% !important;
  height: 50vh !important;
  overflow-y: scroll !important;
}
.modalScrollAll {
  width: 45% !important;
  height: 50vh !important;
  overflow-y: scroll !important;
}
.modalNoScroll {
  width: 90% !important;
  height: 50vh !important;
}
.description > p {
  font-size: 13pt;
  font-weight: 600;
}
.modalSearch {
  width: 90%;
  font-size: 2rem;
  background-color: #EAF6FF !important;
}
.modalHeight {
  height: 90vh;
}
.printModalBody {
  height: 80vh !important;
}
.modalBody {
  height:65vh;
}
.fontAdjust {
  font-family: Wire One, Hepta Slab, serif, sans-serif;
  font-size: 2rem;
  vertical-align: middle;
}
.plusMinus {
  font-size: 4rem;
}
.fontButton:hover {
  border: 1px solid white;
  color: black;
}
.hiddenFont {
  display:none;
}
.editModalAddButton {
  font-size: 2rem;
}
.editModalAddButton:hover {
  color: #212529;
  background-color: #fff;
}
.addIcon {
  font-size: 2rem;
}
.addIcon:hover {
  color: #28a745;
}
.minusIcon {
  font-size: 2rem;
}
.minusIcon:hover {
  color: #dc3545;
}
.editModalAddHeader {
  width: 10%;
  transform: translateX(-1rem)
}
.editModalRemoveHeader {
  width: 10%;
}
.appendText {
  display:none;
  height: 0px;
  width: 0px;
}
.modal-xl {
  max-width: 1600px;
}
.ingredientsArea {
  background-color: #fbb8bc;
}
.labelsColumn {
  width: 65%;
  font-size: 2rem;
}
.interFaceWidth {
  width: 80%;
}
.editColumn {
  width: 10%;
}
.mainTableButton {
  font-size: 2.5rem !important;
}
.printColumn {
  width: 10%;
}
.printWidth {
  width: 10% !important;
}
.deleteColumn {
  width: 10%;
}
.mainTableButton:hover {
  color: #212529;
  background-color: #fff;
}
.dismissWidth, .saveWidth {
  width: 48% !important;
}

@media (max-width: 1200px) {
  .titleContainer {
    display: none !important;
  }
}
@media (max-width: 990px) {
  .hideHeader {
    display: none;
  }
  .editColumn {
    display: none;
  }
  .deleteColumn {
    display: none;
  }
  .interfaceWidth {
    width: 90%;
  }
  .searchBox {
    width: 100% !important;
  }
  .addLabel {
    display: none;
  }
  .mobileNavBackground {
    background-color: #ec91d8;
  }
  .treeNutNameWidth {
    width: 40%;
    min-width: 200px;
  }
  .mobileNavAdjust {
    padding-left: 2rem !important;
  }
  .logoutbtn {
    padding-bottom: 1rem;
  }
  .printWidth {
    text-align: left !important;
  }
  .labelsColumn {
    font-size: 1.75rem;
  }
}
@media (max-width: 750px) {
  .labelsColumn {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .labelsColumn {
    font-size: 1rem;
  }
  .allergensColumn {
    font-size: .75rem;
  }
  .printWidth {
    text-align: center !important;
  }
}
@media (max-width: 400px) {
  .addLabel {
    font-size: .6rem;
  }
}
